header {
  height: 5rem;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  background-color: white;
}

header nav a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #4d4d4d;
  padding: 5px 20px;
  white-space: nowrap;
}

header nav a:hover {
  color: #161616;
  text-decoration: none;
}

nav {
  display: flex;
  padding: 1rem;
}

.site-logo {
  margin-right: auto;
  font-size: 1.75rem;
  margin-left: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: transparent;
  background: linear-gradient(to right, #db2777, #7c3aed);
  -webkit-background-clip: text;
  background-clip: text;
}

.site-logo:hover {
  text-decoration: none;
}

.logout-button {
  margin-left: 2rem;
  padding: 5px 20px;
  border-radius: 0.75rem;
  border: 1px solid #f9a8d4;
  cursor: pointer;
}