header nav a {
  text-decoration: none;
  color: #4D4D4D;
  padding: 5px 20px;
}

header nav a:hover {
  color: #161616;
  text-decoration: none;
}

.site-logo {
  text-decoration: none;
  color: #161616;
  font-weight: 900;
}

.site-logo:hover {
  text-decoration: none;
}