:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Aztech Forest";
  src: url("/fonts/AztechForest-9YJa0.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
}

h4 {
  color: gray;
  margin: 1rem;
}

a {
  text-decoration: unset;
  color: unset;
}

.site-wrapper {
  min-height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
}

/*** DETAIL PAGE ***/
.detail-container {
  padding: 2rem;
}

.detail {
  margin-top: 2rem;
}

.detail > img {
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
  object-fit: cover;
}

/*** FORM PAGE ***/ /* 
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 2rem;
}

.add-edit-form {
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: left;
  background-color: white;
}

fieldset {
  border-radius: .5rem;
  border: 1px solid #d1d5db;
}

label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b7280;
  margin-bottom: 0.5rem;
  text-align: left;
} */

/*** STASH PAGE ***/
.yarn-tile {
  width: 13rem;
  height: 20rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.yarn-info > img {
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
  object-fit: cover;
}

.back-button {
  font-weight: 600;
  color: gray;
}
